nav{
    display:flex;
    flex-direction: column;
    width: 10%;
    min-width: 100px;
    align-items: center;
    overflow-x: hidden;
}
#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
}
#settings{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}
#settings svg{
    height: 50%;
    opacity: 60%;
}
#settings svg:hover,
#settings svg:focus{
    opacity: 1;
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 1));
}
#side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#side > button{
    max-width: 100%;
}
input{
    height: 30px; 
    max-width: 90%;
}
ul{
    width: 100%;
    padding: 0;
}
#side > ul > li{
    width: auto;
    padding-left: 10px;
    overflow-x: hidden;
}
#side > ul > li:hover{
    background-color: rgba(255, 255, 255, 7%);
    cursor: pointer;
}
@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        display: flex;
    }
    20% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes stretchRight {
    0%{
        min-width: 100px;
    }
    20%{
        min-width: 100px;
    }
    100%{
        min-width: 100%;
    }
}
@keyframes stretchLeft {
    0%{
        min-width: 100%;
    }
    20%{
        min-width: 100%;
    }
    100%{
        min-width: 100px;
    }
}
#settingsPage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: slideRight 1500ms forwards;
}
br{
    background-color: red;
    fill: red;
    color: red;
}
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    40%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}